@page "/about"

@using Berrysoft.Pages.Data

@inject LibraryService Library

<div class="fade-in fade-in-1">
    <h1><Tred Key="aboutTitle" /></h1>
    <p class="text-secondary">
        Copyright (c) 2019 Berrysoft
        <br />
        <a href="https://github.com/Berrysoft/Berrysoft.github.io"><Tred Key="aboutProjectSource" /></a>
    </p>
</div>

@if (Library.Data != null)
{
    <div class="fade-in fade-in-2">
        <h2><Tred Key="aboutOtherLibraries" /></h2>

        <div class="table-responsive-xl">
            <DataGrid T="LibraryBox" Items="@Library.Data">
                <Headers>
                    <DataGridHeader PropertyName="Name" Sortable="true" Comparer="@StringComparer.OrdinalIgnoreCase"><Tred Key="aboutOtherLibraryName" /></DataGridHeader>
                    <DataGridHeader PropertyName="License" Sortable="true"><Tred Key="aboutOtherLibraryLicense" /></DataGridHeader>
                </Headers>
                <ChildContent Context="library">
                    <td>
                        @if (library.Url == null)
                        {
                            @library.Name
                        }
                        else
                        {
                            <a href="@library.Url">@library.Name</a>
                        }
                    </td>
                    <td>
                        @if (library.LicenseUrl == null)
                        {
                            @library.License
                        }
                        else
                        {
                            <a href="@library.LicenseUrl">@library.License</a>
                        }
                    </td>
                </ChildContent>
            </DataGrid>
        </div>
    </div>
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Library.LoadDataAsync();
            StateHasChanged();
        }
    }
}
