@page "/"

@using Berrysoft.Pages.Data

@inject HttpClient Http
@inject ProjectService Project

<h1><Tred Key="indexTitle" /></h1>

<p><Tred Key="indexDescription" /></p>

@if (Project.Data != null)
{
    <h2><Tred Key="indexOtherProjects" /></h2>

    <DataGrid T="ProjectBox" Items="@Project.Data">
        <Headers>
            <DataGridHeader PropertyName="Name" Sortable="true"><Tred Key="indexOtherProjectName" /></DataGridHeader>
            <DataGridHeader PropertyName="Language" Sortable="true"><Tred Key="indexOtherProjectLanguage" /></DataGridHeader>
            <DataGridHeader PropertyName="Description" Sortable="false"><Tred Key="indexOtherProjectDescription" /></DataGridHeader>
        </Headers>
        <ChildContent Context="project">
            <td><a href="@project.Url">@project.Name</a></td>
            <td>@project.Language</td>
            <td>@project.Description</td>
        </ChildContent>
    </DataGrid>
}

@code {
    protected override async Task OnInitializedAsync()
    {
        await Task.Run(async () =>
        {
            await Project.LoadDataAsync();
            StateHasChanged();
        });
    }
}
