@page "/"

@using Berrysoft.Pages.Data

@inject HttpClient Http
@inject GitHubEventService GitHubEvent
@inject ProjectService Project

<div class="fade-in fade-in-1">
    <h1><Tred Key="indexTitle" /></h1>

    <p><Tred Key="indexDescription" /></p>
</div>

@if (Project.Data != null)
{
    <div class="fade-in fade-in-2">
        <h2><Tred Key="indexOtherProjects" /></h2>

        <div class="table-responsive-xl">
            <DataGrid T="ProjectBox" Items="@Project.Data">
                <Headers>
                    <DataGridHeader PropertyName="Name" Sortable="true"><Tred Key="indexOtherProjectName" /></DataGridHeader>
                    <DataGridHeader PropertyName="Language" Sortable="true"><Tred Key="indexOtherProjectLanguage" /></DataGridHeader>
                    <DataGridHeader PropertyName="Description" Sortable="false"><Tred Key="indexOtherProjectDescription" /></DataGridHeader>
                </Headers>
                <ChildContent Context="project">
                    <td><a href="@project.Url">@project.Name</a></td>
                    <td>@project.Language</td>
                    <td>@project.Description</td>
                </ChildContent>
            </DataGrid>
        </div>
    </div>
}

@if (GitHubEvent.Data != null)
{
    <div class="fade-in fade-in-3">
        <h2>GitHub Events</h2>

        <div class="list-group list-group-flush">
            @foreach (var e in GitHubEvent.Data.Where(ev => ev.Type == "PushEvent").Take(10))
            {
                <a class="list-group-item list-group-item-action" href="@($"https://github.com/{e.Repo!.Name}/commit/{e.Payload!.Commits.LastOrDefault()?.Sha}")">
                    <div class="row">
                        <div class="col">
                            @e.Payload!.Commits.LastOrDefault()?.Message
                        </div>
                        <div class="col-auto ml-md-auto">
                            @e.Repo!.Name
                        </div>
                    </div>
                </a>
            }
        </div>
    </div>
}

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await Project.LoadDataAsync();
            StateHasChanged();
            await GitHubEvent.LoadDataAsync();
            StateHasChanged();
        }
    }
}
