@page "/tea"

@using Berrysoft.Pages.Data

@inject TeaService TeaService

<div class="fade-in fade-in-1">
    <h1><Tred Key="teaTitle" /></h1>
</div>

<div class="row fade-in fade-in-2">
    <div class="col-auto py-2">
        <label for="selectCryptor"><Tred Key="teaCryptorSelectLabel" /></label>
    </div>
    <div class="col-auto">
        <select id="selectCryptor" class="custom-select" @bind="@TeaService.CryptorType">
            <option value="@TeaCryptorType.Unselected" disabled><Tred Key="teaCryptorSelectTitle" /></option>
            <option value="@TeaCryptorType.Tea">TEA</option>
            <option value="@TeaCryptorType.XTea">XTEA</option>
            <option value="@TeaCryptorType.XXTea">XXTEA</option>
        </select>
    </div>
</div>

<div class="row fade-in fade-in-3">
    <div class="col">
        <div class="row">
            <div class="col-auto py-2">
                <label for="key"><Tred Key="teaKeyLabel" /></label>
            </div>
            <div class="col-auto">
                <input id="key" class="form-control" type="text" @bind="@TeaService.KeyString" />
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col-auto py-2">
                <label for="keyType"><Tred Key="teaKeyStringTypeSelectLabel" /></label>
            </div>
            <div class="col-auto">
                <select id="keyType" class="custom-select" @bind="@TeaService.KeyStringType">
                    <option value="@StringType.UTF8">UTF-8</option>
                    <option value="@StringType.Unicode">Unicode</option>
                    <option value="@StringType.ASCII">ASCII</option>
                    <option value="@StringType.Base64">Base64</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="row fade-in fade-in-4">
    <div class="col">
        <div class="row py-2">
            <label for="originalData"><Tred Key="teaOriginalStringLabel" /></label>
        </div>
        <div class="row py-2">
            <textarea id="originalData" class="form-control" style="height: 60vh; resize: vertical;" @bind="@TeaService.OriginalString" />
        </div>
        <div class="row py-2">
            <div class="col-auto py-2">
                <label for="originalDataType"><Tred Key="teaOriginalStringTypeSelectLabel" /></label>
            </div>
            <div class="col-auto">
                <select id="originalDataType" class="custom-select" @bind="@TeaService.OriginalStringType">
                    <option value="@StringType.UTF8">UTF-8</option>
                    <option value="@StringType.Unicode">Unicode</option>
                    <option value="@StringType.ASCII">ASCII</option>
                    <option value="@StringType.Base64">Base64</option>
                </select>
            </div>
        </div>
        <div class="row py-2">
            <button class="btn btn-primary btn-block" @onclick="TeaService.Encrypt"><Tred Key="teaEncrypt" /></button>
        </div>
    </div>
    <div class="col">
        <div class="row py-2">
            <label for="encryptedData"><Tred Key="teaEncryptedStringLabel" /></label>
        </div>
        <div class="row py-2">
            <textarea id="encryptedData" class="form-control" style="height: 60vh; resize: vertical;" @bind="@TeaService.EncryptedString" />
        </div>
        <div class="row py-2">
            <div class="col-auto py-2">
                <label for="encryptedDataType"><Tred Key="teaEncryptedStringTypeSelectLabel" /></label>
            </div>
            <div class="col-auto">
                <select id="encryptedDataType" class="custom-select" @bind="@TeaService.EncryptedStringType">
                    <option value="@StringType.UTF8">UTF-8</option>
                    <option value="@StringType.Unicode">Unicode</option>
                    <option value="@StringType.ASCII">ASCII</option>
                    <option value="@StringType.Base64">Base64</option>
                </select>
            </div>
        </div>
        <div class="row py-2">
            <button class="btn btn-primary btn-block" @onclick="TeaService.Decrypt"><Tred Key="teaDecrypt" /></button>
        </div>
    </div>
</div>
