@using Berrysoft.Pages.Data

@inject ILocalizationService Localization
@inject IThemeService ThemeService

<header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="">Berrysoft</a>
    <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="@NavMenuCssClass navbar-collapse">
        <ul class="navbar-nav mr-auto" @onclick="ToggleNavMenu">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <Tred Key="navHome" />
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <Tred Key="navCounter" />
                </NavLink>
            </li>
        </ul>
        <div class="form-row ml-md-auto">
            <div class="col-auto py-2">
                <span class="fas fa-palette" aria-hidden="true"></span>
            </div>
            <div class="col-auto">
                <select class="custom-select" @bind="@ThemeService.Theme">
                    @if (ThemeService.Data != null)
                    {
                        @foreach (string theme in ThemeService.Data)
                        {
                            <option value="@theme"><Tred Key="@theme" /></option>
                        }
                    }
                </select>
            </div>
            <div class="col-auto py-2">
                <span class="fas fa-globe" aria-hidden="true"></span>
            </div>
            <div class="col-auto">
                <select class="custom-select" @bind="@Localization.Language">
                    @if (Localization.Data != null)
                    {
                        @foreach (var lang in Localization.Data)
                        {
                            <option value="@lang.Key">@lang.Value</option>
                        }
                    }
                </select>
            </div>
            <div class="col-auto py-2">
                <span class="fas fa-code-branch"></span>
            </div>
            <div class="col-auto py-2">
                <a href="https://github.com/Berrysoft/Berrysoft.github.io">GitHub</a>
            </div>
        </div>
    </div>
</header>


@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    await Task.Run(async () =>
    //    {
    //        await ThemeService.LoadDataAsync();
    //        await Localization.LoadDataAsync();
    //        StateHasChanged();
    //    });
    //}

    protected override async void OnInitialized()
    {
        await ThemeService.LoadDataAsync();
        await Localization.LoadDataAsync();
        StateHasChanged();
    }
}
